@model PAWUNED_EdgarArias_Proyecto1.Models.RegistroDietum

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RegistroDietum</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaComida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaComida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoComida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoComida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlimentosConsumidos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlimentosConsumidos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CaloriasTotales)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CaloriasTotales)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRegDieta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
