@model PAWUNED_EdgarArias_Proyecto1.Models.Meta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMeta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMeta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PesaObjetivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PesaObjetivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaObjetivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaObjetivo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelActividad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelActividad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObjetivosEspecificos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObjetivosEspecificos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMetaSalud">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
