@model PAWUNED_EdgarArias_Proyecto1.Models.ActividadFisica

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ActividadFisica</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoActividad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoActividad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraActividad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraActividad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DuracionMinutos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DuracionMinutos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistanciaRecorrida)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistanciaRecorrida)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumoCalorico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumoCalorico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentarios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentarios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdUsuarioNavigation.IdUsuario)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRegActividad">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
